body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#canvas {
    display: none;
    margin: 50px auto;
    width: 200px;
}