body {
    position: relative;
    font-family: sans-serif;
    overflow: hidden;
    display: none;
    top: 0;
}


/*
.radio {
 background-image: url("../img/radio.png");
 background-repeat: no-repeat;
 background-size: auto;
 background-attachment: fixed;

}
*/

.full-screen {
    width: 100%;
    height: 100%;
    top: 1%;
    display: flex;
    align-items: center;
}

#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
}

#radio {
    width: 367px;
    height: 795px;
    right: 0;
    bottom: 0;
    position: fixed;
}

#tooltip {
    position: absolute;
    top: 63.5%;
    right: 35%;
    padding: 0px 0px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

#volume {
    position: absolute;
    top: 52.5%;
    right: 34%;
    padding: 0px 0px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

#onoff {
    position: absolute;
    top: 25%;
    right: 65%;
    padding: 40px 30px;
    opacity: .0;
    /* background-color: red; */
}

#volumeUp {
    position: absolute;
    top: 25%;
    right: 41%;
    padding: 40px 20px;
    opacity: .0;
    /* background-color: green; */
}

#volumeDown {
    position: absolute;
    top: 25%;
    right: 52%;
    padding: 40px 20px;
    opacity: .0;
    /* background-color: blue; */
}

.onoff button {
    /*     padding: 40px 55px;
    opacity: .0; */
}

.ekran {
    position: absolute;
    /* background-color: rgb(170, 176, 153); */
    padding: 95px 70px;
    top: 50%;
    left: 26.5%;
}

.channel {
    position: absolute;
    top: 0%;
    left: 0%;
}

.channel span {
    text-align: center;
}

.channel input {
    text-align: center;
    border: none;
    background-color: rgba(170, 176, 153, 0.0);
    padding: 38px 6px;
    font-size: 24px;
    /* width: 100%; */
}