@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

#container {
    position: absolute;
    height: auto;
    top: 20%;
    right: 20%;
    border-radius: 5px;
    background: transparent !important;
}

#buttons {
    max-height: 75vh;
    width: 31vw;
    overflow-x: none;
    overflow-y: auto;
    padding: 10px;
}

html,
body {
    background: transparent !important;
}

#buttons::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.button {
    width: auto;
    max-width: 45%;
    height: 10%;
    background: #1b2027;
    color: white;
    font-size: 15px;
    line-height: 1.4;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 0.50rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    cursor: pointer;
}

.button:hover {
    background-color: #3b5572;
}

.title {
    width: auto;
    max-width: 45%;
    height: 10%;
    background: #1b2027;
    color: white;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    font-size: 16px;
    overflow: hidden;
    padding: 0.50rem;
    border-radius: 0.15rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
}

div > .text {
    flex-direction: column;
    overflow: hidden;
}

div > .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    color: white;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
}
