@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    font-weight: 300;
    color: white;
}

.root-wrapper {
    width: 30vw;
    height: auto;
    top: 31.2%;
    left: 62.5%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    overflow: hidden; 
    background: transparent !important;
}

html,
body {
    background: transparent !important;
}

.main-wrapper {
    margin: auto;
    margin-top: 64.2%;
    width: 44.5%;
    height: 70vh;
    position: relative;
    overflow: hidden;
    border-radius: 5%;
    padding: 1.5rem;
    display: none;
}

.heading {
    display: flex;
    justify-content: center;
    overflow: wrap;
    margin-bottom: 5px;
    background: #1b2027;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #3b5572;
    border-radius: 5px;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.45rem;
}

.heading h1 {
    font-size: 18px;
    position: relative;
    font-weight: 500;
}

.form {
    width: 100%;
    height: auto;
    min-height: 10%;
    max-height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form label {
    margin-top: 24px;
}

.form-control[type="number"] {
    appearance: none;
    -webkit-appearance: none;
}
.form-control[type="text"],
.form-control[type="number"],
.form-control[type="password"] {
    border: none;
    font-size: 14px;
    border-radius: 5px;
    margin: 5px 0px;
    background: #1b2027;
    height: 50px;
    text-align: center;
    width: 100%;
}

.form-control[type="text"]:focus,
.form-control[type="number"]:focus,
.form-control[type="password"]:focus {
    transition-property: box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: linear, ease-in;
}

.form-input-group {
    background: #1b2027;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #3b5572;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.input-group {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.input-group-chk {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

.input-group label {
    color: rgba(255, 255, 255, 0.65) !important;
}

.input-group label:checked {
    color: rgba(255, 255, 255, 1) !important;
}

.form-group-title {
    width: 100%;
    text-align: center;
}

.select-title {
    background: #1b2027;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #3b5572;
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.form-select {
    width: 100%;
    background: #1b2027;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #3b5572;
    margin-top: 2.5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    height: 50px;
}

.form-select:active,
.form-select:focus {
    width: 100%;
    background: #1b2027;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #3b5572;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.form-select option:hover {
    background: #1b2027;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #3b5572;
    padding: 1rem 0;
    border-radius: 5px;
    border: none;
    appearance: none;
}

::placeholder {
    opacity: 65%;
    color: white;
}

.background {
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.452);
    z-index: -99;
    display: none;
}

.btn {
    width: 100%;
    height: 50px;
    font-size: 16px;
    background: #1b2027;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #3b5572;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    transition-property: color, background-color;
    transition-duration: 0.1s, 0.3s;
    transition-timing-function: linear, ease-in;
    margin-top: 5px;
}

.btn:hover {
    background-color: #377245;
}