.rentel-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(252, 252, 252);
    overflow: hidden;
}

.rentel-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 9vh;
    color: black;
    /* background-color: gray; */
    border-bottom: .3vh solid rgb(224, 224, 224);
}

.rentel-header > p {
    position: absolute;
    left: 1.9vh;
    top: 5vh;
    font-family: 'Calibri';
    font-size: 1.8vh;
}

.rentel-items {
    position: absolute;
    width: 92%;
    height: 80%;

    bottom: 2%;
    left: 0;

    margin: 0 auto;
    left: 0;
    right: 0;

    background: rgb(243, 243, 243);
    border-radius: .5vh;

    -webkit-box-shadow: 0px 0px 7px px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.15);

    overflow: hidden;
}

.rentelapp {
    position: relative;
    width: 100%;
    height: 7vh;
    background-color: rgb(245, 245, 245);
    
    margin: 0 auto;
    margin-bottom: .8vh;

    border-bottom: 0.2vh solid rgb(177, 177, 177);

    /* border-radius: .6vh; */
}

.rentelapp-icon {
    position: absolute;
    width: 5vh;
    height: 5vh;
    background-color: #575fcf;

    margin: 1vh;
    border-radius: .3vh;

    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}

.rentelapp-icon > i {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 5vh;
    font-size: 2.5vh;
    color: rgb(255, 255, 255);
}

.rentelapp-title {
    position: absolute;
    bottom: 2vh;
    left: 6.9vh;
    font-family: 'Calibri';
    font-size: 1.9vh;
}

.rentelapp-purchase {
    position: absolute;
    line-height: 7vh;
    right: 2vh;
    font-size: 2vh;
    color: #85bb65;

    transition: .05s ease-in-out;
}

.rentelapp-purchase:hover {
    color: #5f9341;
    transition: .05s ease-in-out;
}
