@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@font-face {
    font-family: 'first';
    src: url(https://cdn.discordapp.com/attachments/717894831208267786/749302811908374648/BACK_TO_BLACK_DEMO.TTF);
}

@font-face {
    font-family: 'seco';
    src: url(https://cdn.discordapp.com/attachments/717894831208267786/749303717911855134/BAHNSCHRIFT.TTF);
}

.sellix-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(36, 36, 36);
    overflow: hidden;
}

.sellix-app-header {
    position: absolute;
    height: 9vh;
    width: 100%;
    background-color: #451bff;
    text-align: center;
    line-height: 12.5vh;
    color: white;
    font-family: 'first';
    font-size: 2.2vh;
}

.sellix-homescreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0vh;
}

.sellix-detailscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -30vh;
}

.sellix-items {
    position: absolute;
    width: 85%;
    height: 44.5vh;
    /* background-color: rgba(0, 0, 0, 0.1); */
    top: 10.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.sellix-items::-webkit-scrollbar {
    display: none;
}

.sellix-item {
    position: relative;
    height: 7vh;
    width: 100%;
    background-color: rgb(48, 47, 47);
    box-shadow: 0 0 1vh .1vh rgba(0, 0, 0, 0.15);
    border-radius: 2vh;
    transition: .08s linear;
    margin-bottom: 1vh;
}

.sellix-item-firstletter {
    position: relative;
    line-height: 7vh;
    left: 1.2vh;
    background-color: #451bff;
    background-size: cover;
    padding-top: 1.1vh;
    padding-bottom: 1.1vh;
    padding-left: 2.0vh;
    padding-right: 2.0vh;
    border-radius: 50%;
    color: white;
    font-family: 'seco';
    font-size: 1.6vh;
    transition: .05s linear;
}

#itemdata-price {
    position: absolute;
    text-align: right;
    left: 11vh;
    bottom: 0.7vh;
    font-size: 1.5vh;
}

.sellix-title {
    position: relative;
    left: 27px;
    color: white;
    font-family: 'seco';
}

.sellix-banned {
    text-align: center;
    color: white;
    font-family: 'seco';
}

.sellix-item:hover {
    background-color: rgb(78, 78, 78);
}

.sellix-item-data {
    position: absolute;
    left: 7vh;
    color: white;
    top: 2.2vh;
    line-height: 1.3vh;
    font-family: 'seco';
}

.sellix-itemdetails {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.1); */
    height: 76%;
    width: 84%;
    margin: 0 auto;
    left: 0vh;
    right: 0;
    top: 11vh;
}

.itemdetail-box-buyer, .itemdetail-box-location, .itemdetail-box-delivery, .itemdetail-box-item, .itemdetail-box-quantity, .itemdetail-box-price {
    position: relative;
    width: 100%;
    background-color: rgb(54, 54, 54);
    padding: .8vh;
    color: white;
    font-family: 'seco';
    border-bottom: .1vh solid #fff;
    margin-bottom: 1vh;
    font-size: 1.2vh;
}

.item-answer {
    float: right;
    font-size: 1.1vh;
}

.sellix-footer-back {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: rgb(233, 233, 233);
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    line-height: 5vh;
    font-family: 'seco';
    font-size: 1.4vh;
}

.sellix-footer-back:hover {
    background-color: rgb(212, 212, 212);
}

.sellix-footer-take {
    position: absolute;
    bottom: 6vh;
    width: 100%;
    height: 5vh;
    background-color: rgb(0, 190, 63);
    color: white;
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    line-height: 5vh;
    font-family: 'seco';
    font-size: 1.4vh;
}

.sellix-footer-take:hover {
    background-color: rgb(0, 255, 128);
}