/*@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');*/
.color-0 {
  color: #ffffff;
}
.color-1 {
  color: #ff4444;
}
.color-2 {
  color: #99cc00;
}
.color-3 {
  color: #ffbb33;
}
.color-4 {
  color: #0099cc;
}
.color-5 {
  color: #33b5e5;
}
.color-6 {
  color: #aa66cc;
}
.color-8 {
  color: #cc0000;
}
.color-9 {
  color: #cc0068;
}
/*src: url("../BarlowCondensed.ttf");*/

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.no-grow {
  flex-grow: 0;
}

em {
  font-style: normal;
}

#app {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: transparent;
}

.chat-window {
  position: absolute;
  top: 5px;
  left: 15px;
  width: 35%;
  height: 0px;
  -webkit-animation-duration: 2s;
}

.chat-messages {
  position: relative;
  height: 340px;
  font-size: 16px;
  margin: 5px;
  left:15px;
  width:480px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.chat-input {
  font-size: 1.2rem;
  position: absolute;
  top: 360px;
  left: 15px;
  width: 20%;
  margin-left:2%;
  box-sizing: border-box;
}

.prefix {
  position: absolute;
  margin-top: -1px;
  left: 4px;
}

textarea {
  font-size: 1.1rem;
  display: block;
  box-sizing: border-box;
  padding: 2px;
  padding-left: 27px;
  color: white;
  background-color: rgba(44, 62, 80, 0.5);
  width: 100%;
  border-width: 0;
  height: 28px;
  overflow: hidden;
}

textarea:focus,
input:focus {
  outline: none;
}

.msg {
  margin-bottom: 5px;
}

.suggestions {
  list-style-type: none;
  padding: 5px;
  padding-left: 27px;
  font-size: 0.9rem;
  box-sizing: border-box;
  color: white;
  background-color: rgba(51, 51, 51, 0.5);
  border: 0px solid rgba(66, 66, 66, 0.9);
  border-radius: 0px 0px 5px 5px;
  width: 65%;
}

.help {
  margin-top: -10px;
  color: #b0bbbd;
}

.disabled {
  margin-top: -10px;
  color: #b0bbbd;
}

.suggestion {
  margin-bottom: 0.5px;
}

.chat-message {
  display: inline-block !important;
  padding: 0.6vw;
  padding-top: 0.6vw;
  padding-bottom: 0.7vw;
  margin: 0.1vw;
  margin-left: 0.4vw;
  border-radius: 10px;
  background-color: rgba(52, 58, 235, 0.75);
  width: fit-content;
  max-width: 100%;
  overflow: hidden;
  word-break: break-word;
}

.chat-message-body {
  margin-top: 10px;
}

.chat-message.advert {
  background-color: rgba(47, 92, 115, 0.75);
}

.chat-message.server {
  background-color: rgba(190, 97, 18, 0.85);
}

.chat-message.system {
  background-color: rgba(67, 57, 111, 0.75);
}

.chat-message.emergency {
  /* display: inline-block !important;
  padding: 0.5vw;
  padding-top: 0.5vw;
  padding-bottom: 0.6vw;
  margin: 0.1vw;
  margin-left: 0.4vw;
  border-radius: 10px; */
  background-color: rgba(163, 62, 48, 0.85);
  /* width: fit-content;
  max-width: 100%;
  overflow: hidden;
  word-break: break-word; */
}

.chat-message.nonemergency {
  background-color: rgba(240, 182, 75, 0.75);
}

.chat-message.success {
  background-color: rgba(97, 141, 99, 0.85);
}