body{
    margin: auto;
}
@font-face {
    font-family: 'EAS_TITLE'; /*a name to be used later*/
    src: url('fonts/VCR_OSD_MONO.ttf'); /*URL to font*/
}

.eas {
    font-family: 'EAS_TITLE';
    margin: auto;
    text-align: center;
    font-size: 120%;
    color: #fff;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    border-left: 4px solid red;
    border-right: 4px solid red;
    background: black;
}